################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OfficeApplication/packages/EntityFramework.6.4.4
