@model AtmSystem.Models.Customer

@{
    ViewBag.Title = "InvaidCustomer";
}

<div style="margin-top:200px">
    <h2 style="text-align:center">Invalid Customer Account Number</h2>
</div>
<div style="text-align:start">
    <h4>
        @Html.ActionLink("Back", "Customers");
</h4>
</div>